@font-face {
  font-family: "avenir";
  src: url(../../../public/font/avenirnext.otf) format("opentype");
}
@font-face {
  font-family: "avenirBold";
  src: url(../../../public/font/avenirnext-bold.otf) format("opentype");
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 90vh;
  position: relative;
  overflow-x: hidden;
  padding-top: 74px;
}

.u-avenir {
  font-family: "avenir";
}
.u-avenir-bold {
  font-family: "avenirBold";
}

.c-iconLabel {
  color: #909296;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  line-height: 1;
}
.c-iconLabel svg {
  font-size: 18px;
  margin-right: 3px;
}

@media (min-width: 576px) {
  body {
    padding-top: 0;
  }
}
